<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="../public/main.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

<h1>5e Encounter Generator</h1>

<p>Choose from the dropdown, then press the "Generate" button.</p>

<div id="regionSelection">
    <select id="pickone"></select>
</div>

<br>

<div id="genButton">
    <button type="button" onclick="myFunction()">Generate</button>
</div>

<p id="encounterPrint">(myFunction is stores in an external file called "main.js")</p>

</body>
</html>