body {
    background-color: rgba(135, 206, 250, 0.719);
}

h1 {
    color: rgb(122, 122, 122);
    text-align: center;
}

p {
    font-family: veranda;
    font-size: 22px;
    text-align: center;
}

#genButton {
    text-align: center;
}

#regionSelection {
    text-align: center;
}